<template>
    <j-login-form />
</template>

<script>
    import JLoginForm from "../components/JLoginForm";

    export default {
        name: "JLoginView",
        components: { JLoginForm },
    };
</script>

<style scoped>

</style>