<template>
    <div>
        <div class="home">
            <j-page-title
                    icon="fa fa-list"
                    main="Receitas"
                    sub="Receitas Culinárias"
            />
        </div>
        <j-recipes-list />
    </div>
</template>

<script>
    import JPageTitle from "../layout/JPageTitle";
    import JRecipesList from "../components/JRecipesList";

    export default {
        name: "JRecipesView",
        components: { JPageTitle, JRecipesList },
    };
</script>

<style scoped>

</style>