<template>
    <div class="content">
        <div class="row justify-content-md-center mt-5">
            <div class="col-12 col-md-6 col-lg-4">
                <form class="form-signin">
                    <h1 class="h3 font-weight-normal">{{showSignup ? 'Cadastro' : 'Login'}}</h1>
                    <input v-if="showSignup" v-model="user.name" class="form-control mb-1" placeholder="Nome" required>
                    <input v-model="user.login" type="text" class="form-control mb-1" placeholder="Login" required>
                    <input v-model="user.password" type="password" class="form-control mb-1" placeholder="Senha" required>
                    <input v-if="showSignup" v-model="user.confirmPassword" type="password" class="form-control" placeholder="Confirme a Senha" required>
                    
                    <div class="row mt-2">
                        <div v-if="showSignup" class="col-md-12">
                            <b-button @click="signup" block variant="info"><i class="fa fa-save"> </i> Salvar</b-button>
                        </div>
                        <div v-else class="col-12 text-right">
                            <b-button @click="signin" block variant="success"><i class="fa fa-sign-in"> </i> Logar</b-button>
                        </div>
                    </div>
                    
                    <div class="mt-3 text-center">
                        <a href="" @click.prevent="showSignup = !showSignup">
                            <span v-if="showSignup">Já tem cadastro? Acesse o Login!</span>
                            <span v-else>Não tem cadastro? Registre-se aqui!</span>
                        </a>
                    </div>
                
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "JLoginForm",
        data: () => ({
            showSignup: false,
            user: {},
        }),

        methods: {
            signin() {
                this.$axios.post(`${this.$store.state.config.baseUrlApi}/signin`,
                    this.user,
                    this.$store.getters.getHeader)
                    .then(response => {
                        this.$store.commit('setUser', response.data);
                        localStorage.setItem('__receitas_culinarias_user', JSON.stringify(response.data));
                        this.$router.push({ path: '/' });
                    }).catch(() => {
                    this.$swal({
                        icon: "warning",
                        title: "Acesso negado!",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
            },
            signup() {
                this.$axios.post(`${this.$store.state.config.baseUrlApi}/signup`,
                    this.user,
                    this.$store.getters.getHeader)
                    .then(() => {
                        this.$swal({
                            icon: "success",
                            title: "Cadastro efetuado com sucesso!",
                            showConfirmButton: false,
                            showLoaderOnConfirm: false,
                            timer: 2000,
                        });
                        this.user = {};
                        this.showSignup = false;
                    }).catch((error) => {
                    this.$swal({
                        icon: "warning",
                        title: "Erro ao cadastrar!",
                        text: error,
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });
            },
            async validadeToken() {
                
                const json = localStorage.getItem('__receitas_culinarias_user');
                const userData = JSON.parse(json);

                if (userData) {
                    this.$router.push({ path: '/' });
                    return;
                }
            },
        },
        created() {
            this.validadeToken();
        },
    };
</script>

<style scoped>
    .link-login {
        text-decoration: none;
        text-align: center;
    }
    
    .link-login:hover {
        text-decoration: none;
    }
</style>