<template>
    <div>
        <b-modal :title="id === 0 ? 'Receita - Cadastro'  : 'Recieta - Edição'" size="lg" centered v-on:hide="hideModal" hide-footer v-model="showModal">
            <validation-observer ref="observer" v-slot="{ handleSubmit }">
                <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
                    
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            
                            <b-form-group label="Categoria">
                                <b-form-select v-model="dados.id_category">
                                    <option value=" "> -- Selecione --</option>
                                    <option v-for="item in apiCategorires" :key="item.id" :value="item.id">{{item.name}}</option>
                                </b-form-select>
                            
                            </b-form-group>
                        
                        </div>
                        <div class="col-12 col-md-6 col-lg-8">
                            <b-form-group label="Nome">
                                <b-form-input
                                        type="text"
                                        v-model="dados.name"
                                        placeholder="Nome da receita">
                                </b-form-input>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <b-form-group label="Tempo de preparo (minutos)">
                                <b-form-input
                                        type="number"
                                        v-model="dados.preparation_time_minutes"
                                        placeholder="Ex.: 60">
                                </b-form-input>
                            </b-form-group>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <b-form-group label="Porções">
                                <b-form-input
                                        type="number"
                                        v-model="dados.wells"
                                        placeholder="Ex.: 5">
                                </b-form-input>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <validation-provider
                                    name="Name"
                                    :rules="{ required: true}"
                                    v-slot="validationContext"
                            >
                                <b-form-group label="Modo de preparação">
                                    <b-form-textarea
                                            id="textarea"
                                            v-model="dados.preparation_mode"
                                            placeholder="Descreva o modo de preparo"
                                            rows="3"
                                            :state="getValidationState(validationContext)"
                                            aria-describedby="input-1-live-feedback"
                                    ></b-form-textarea>
                                    <b-form-invalid-feedback id="input-1-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <b-form-group label="Ingredientes">
                                <b-form-textarea
                                        v-model="dados.ingredients"
                                        placeholder="Descreva os ingredientes"
                                        rows="3"
                                ></b-form-textarea>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <b-button @click="hideModal" variant="danger"><i class="fa fa-close"> </i> Cancelar</b-button>
                        </div>
                        <div class="col-6 text-right">
                            <b-button type="submit" class="ml-2" variant="success"><i class="fa fa-save"> </i> Salvar</b-button>
                        </div>
                    </div>
                </b-form>
            </validation-observer>
        
        </b-modal>
    </div>
</template>

<script>
    export default {
        name: "JRecipeFormModal",
        data: () => ({
            showModal: false,
            id: '',
            apiCategorires: {},
            dados: {
                id_category: '',
                name: '',
                preparation_time_minutes: '',
                wells: '',
                preparation_mode: '',
                ingredients: '',
            },
        }),
        mounted() {
            this.getCategory();
        },
        props: {
            show: {
                required: false,
                type: [Boolean],
                default: false,
            },
            recipeId: {
                default: {},
            },
        },
        methods: {
            hideModal() {
                this.dados = {};
                this.$nextTick(() => {
                    this.$refs.observer.reset();
                });
                this.showModal = false;
                this.$emit('close');
            },
            getById(id) {
                this.$axios.get(`${this.$store.state.config.baseUrlApi}/recipes/${id}`,
                    this.$store.getters.getHeaderAuth)
                    .then(response => {
                        this.dados = response.data;
                    }).catch((error) => {
                    this.$store.commit('throwException', error);
                });
            },
            getValidationState({ dirty, validated, valid = null }) {
                return dirty || validated ? valid : null;
            },
            onSubmit() {
                if (this.id) {
                    this.update();
                } else {
                    this.create();
                }
            },

            getCategory() {
                this.$axios.get(`${this.$store.state.config.baseUrlApi}/categories`,
                    this.$store.getters.getHeaderAuth)
                    .then(response => {
                        this.apiCategorires = response.data;
                    }).catch((error) => {
                    this.$store.commit('throwException', error);
                });

            },

            create() {
                this.dados.id_user = this.$store.state.user.id;
                this.$axios
                    .post(`${this.$store.state.config.baseUrlApi}/recipes`,
                        this.dados,
                        this.$store.getters.getHeaderAuth,
                    )
                    .then(response => {
                        if (typeof response.data.throw !== "undefined") {
                            this.$swal({
                                icon: "warning",
                                title: "Erro ao cadastrar. Entre em contato com o Administrador!",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                        } else {
                            this.$swal({
                                icon: "success",
                                title: "Receita cadastrada com sucesso!",
                                showConfirmButton: false,
                                timer: 2000,
                            }),
                                this.$nextTick(() => {
                                    this.$refs.observer.reset();
                                });
                            this.showModal = false;
                            this.$emit('close');
                        }

                    }).catch((error) => {
                    this.$swal({
                        icon: "warning",
                        text: error,
                        title: "Erro ao cadastrar. Entre em contato com o Administrador!",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                });

            },
            update() {
                this.$axios
                    .put(
                        `${this.$store.state.config.baseUrlApi}/recipes/` +
                        this.dados.id,
                        this.dados,
                        this.$store.getters.getHeaderAuth,
                    )
                    .then(response => {
                        if (typeof response.data.throw !== "undefined") {
                            this.$swal({
                                icon: "warning",
                                title: "Erro ao cadastrar. Entre em contato com o Administrador!",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                        } else {
                            this.$swal({
                                icon: "success",
                                title: "Receita atualizada com sucesso!",
                                showConfirmButton: false,
                                timer: 2000,
                            });


                            this.$emit('close');
                        }
                    })
                    .catch(error => {
                        this.$swal({
                            icon: "warning",
                            text: error,
                            title: "Erro ao cadastrar. Entre em contato com o Administrador!",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    });
            },

        },

        watch: {
            show: {
                immediate: true,
                handler(value) {
                    this.showModal = value;
                },
            },
            recipeId: {
                immediate: true,
                handler(value) {
                    this.id = value.id;
                    this.getById(this.id)
                },
            },
        },
    };
</script>

<style>
</style>