<template>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-sm-12 col-md-3">
                <b-button @click="recipeFormModal(0)" class="float-right" block variant="success"><i class="fa fa-plus"></i> Cadastrar Receita</b-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <b-input-group class="mt-5">
                    <b-form-input v-model="search"></b-form-input>
                    <b-input-group-append>
                        <b-button @click="getRecipe" text="Button">Pesquisar</b-button>
                    </b-input-group-append>
                </b-input-group>
            </div>
        
        </div>
        <br />
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th style="min-width: 500px" scope="col">Nome da receita</th>
                    <th class="text-center" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in dados" :key="item.id">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td class="text-center">
                        <b-button @click="recipeFormModal(item)" class="mr-1" variant="warning">
                            <i class="fa fa-edit"></i>
                        </b-button>
                        <b-button @click="deleteRecipe(item.id)" class="mr-1" variant="danger">
                            <i class="fa fa-trash"></i>
                        </b-button>
                        <b-button @click="print(item.id)" variant="info">
                            <i class="fa fa-print"></i>
                        </b-button>
                    </td>
                    <div class="print" id="printMe">
                        <h1>{{item.name}}</h1>
                        <h4><strong>Tempo de preparo:</strong> {{item.preparation_time_minutes}}</h4>
                        <span><strong>Rende:</strong> {{item.wells}} porções</span>
                        <p><strong>Ingredientes:</strong> {{item.ingredients}}</p>
                        <p><strong>Modo de preparo:</strong> {{item.preparation_mode}}</p>
                    </div>
                </tr>
                </tbody>
                <tfoot>
                
                <tr v-if="dados.length == 0" style="border-top: 1px solid #DDD;">
                    <td colspan="100%" class="text-center">
                        <span>- nenhum registro encontrado -</span>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <j-recipe-form-modal :recipeId="recipeId" :show="showRecipeFormModal" v-on:close="closeEmited" />
    
    </div>

</template>

<script>
    import JRecipeFormModal from "./JRecipeFormModal";
    import { mapState } from 'vuex';

    export default {
        name: "JRecipesList",
        data() {
            return {
                showRecipeFormModal: false,
                recipeId: 0,
                search: '',
                dados: {},
                dadosPrint: {},
            };
        },
        mounted() {
            this.getRecipe();
        },
        components: { JRecipeFormModal },
        computed: mapState(['user']),
        methods: {
            closeEmited() {
                this.showRecipeFormModal = false;
                this.getRecipe();
            },
            recipeFormModal(id) {
                this.showRecipeFormModal = true;
                this.recipeId = id;
            },
            getRecipe() {
                this.$axios.get(`${this.$store.state.config.baseUrlApi}/recipes?search=${this.search}&id_user=${this.user.id}`,
                    this.$store.getters.getHeaderAuth
                )
                    .then(response => {
                        this.dados = response.data;
                    }).catch((error) => {
                    this.$store.commit('throwException', error);
                });

            },
            deleteRecipe(id) {
                this.$swal({
                    title: 'Realmente deseja excluir?',
                    text: 'Essa ação não pode ser desfeita',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: '<i class="fa fa-check"></i> Confirmar',
                    cancelButtonText: '<i class="fa fa-close"></i> Cancelar',
                    showCloseButton: true,
                }).then((result) => {
                    if (result.value) {
                        this.$axios.delete(`${this.$store.state.config.baseUrlApi}/recipes/${id}`,
                            this.$store.getters.getHeaderAuth)
                            .then(response => {
                                this.$swal({
                                    icon: "success",
                                    title: "Receita deletada com sucesso!",
                                    showConfirmButton: false,
                                    showLoaderOnConfirm: false,
                                    timer: 2000,
                                });
                                response;
                                this.getRecipe();
                            }).catch((error) => {
                            this.$swal({
                                icon: "warning",
                                text: error,
                                title: "Erro ao deletar. Entre em contato com o Administrador!",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                        });
                    }
                });

            },
            print() {
                this.$htmlToPaper('printMe');
            },

        },
    };
</script>

<style>
    .print {
        max-width: 800px;
        display: none;
    }
    
    .print h1 {
        text-align: center;
    }
</style>