<template>
    <div id="app">
        <j-header title="Receitas Culinárias"
                  :hide-user-dropdown="!user"
        />
        <j-loading v-if="validatingToken" />
        <j-content v-else />
        <j-footer />
    </div>
</template>

<script>

    import { mapState } from 'vuex';
    import JHeader from "./layout/JHeader";
    import JContent from "./layout/JContent";
    import JFooter from "./layout/JFooter";
    import JLoading from "./layout/JLoading";

    export default {
        name: 'App',
        components: { JHeader, JContent, JFooter, JLoading },
        computed: mapState(['user']),
        data: () => ({
            validatingToken: true,
        }),
        methods: {
            async validadeToken() {
                this.validatingToken = true;

                const json = localStorage.getItem('__receitas_culinarias_user');
                const userData = JSON.parse(json);
                this.$store.commit('setUser', null);

                if (!userData) {
                    this.validatingToken = false;
                    this.$router.push({ path: '/login' });
                    return;
                }
                const res = await this.$axios.post(`${this.$store.state.config.baseUrlApi}/validateToken`, userData);

                if (res.data) {
                    this.$store.commit('setUser', userData);
                } else {
                    localStorage.removeItem('__receitas_culinarias_user');
                    this.$router.push({ path: '/login' });
                }

                this.validatingToken = false;
            },
        },
        created() {
            this.validadeToken();
        },
    };
</script>

<style>
    * {
        font-family: Roboto, Arial, 'sans-serif';
    }
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    #app {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        
        height: 100vh;
        display: grid;
        grid-template-rows: 60px 1fr 40px;
        grid-template-columns: 300px 1fr;
        grid-template-areas:
            "header header"
            "content content"
            "footer footer"
    }
</style>
