<template>
    <footer class="footer"><p><strong>&copy; TiJack </strong> 2014-2020</p></footer>
</template>

<script>
    export default {
        name: "JFooter",
    };
</script>

<style>
.footer{
    grid-area: footer;
    background: #ddd;
    color: #333;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    
}
</style>