<template>
    <header class="header">
        
        <h1 class="title">
            <router-link to="/">{{title}}</router-link>
        </h1>
        <j-user-dropdown v-if="!hideUserDropdown" />
    </header>
</template>

<script>
    import JUserDropdown from "./JUserDropdown";

    export default {
        name: "JHeader",
        props: {
            title: String,
            hideToggle: Boolean,
            hideUserDropdown: Boolean,
        },
        components: { JUserDropdown },
    };
</script>

<style>
    .header {
        grid-area: header;
        background: linear-gradient(to right, #1E469A, #49A7C1);
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        font-size: 1.2rem;
        color: #FFF;
        font-weight: 100;
        flex-grow: 1;
        text-align: center;
    }
    
    .title a {
        color: #FFF;
        text-decoration: none;
    }
    
    .title a:hover {
        color: #FFF;
        text-decoration: none;
    }
    
    header.header > a.toggle {
        width: 60px;
        height: 100%;
        color: #FFF;
        justify-self: flex-start;
        text-decoration: none;
        
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    header.header > a.toggle:hover {
        background: rgba(0, 0, 0, 0.2);
    }
</style>